body {
  color: 	#aeaeae;
  background: #161b22;
  font-family: Arial, sans-serif;
}
.sidebar {
    color: 	#aeaeae;
  background: #161b22;
  height: 100vh;
  padding: 20px;
}
.main-content {
  padding: 20px;
}
.filter-btn {
  margin: 5px;
}
.chart-container {
  max-width: 600px;
  margin: 20px auto;
}
